* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

#calculator {
    min-width: 0px;
    background-color: #292828e5;
    margin: 0 auto;
    margin-top: 25%;
    padding: 10px;
    overflow: hidden;
}

body {
    background-image: linear-gradient(to right, #35353580, #6e6d6d);
}

#display {
    height: 45px;
    width: 97%;
    margin: 0 auto;
    border: 1px solid #A7AF7C;
    font-size: 1.5em;
    background-color: #A7AF7C;
    padding: 10px 8px;
    border-radius: 8px;
    margin-top: 5px;
    text-align: right;
}

.div-all-content {
    width: 98%;
    margin: 0 auto;
}

.div-all-btn {
    margin-left: 4%;
    margin-top: 20px;
}

.btn {
    color: #fff;
    position: relative;
    float: left;
    width: 21%;
    height: 50px;
    margin: 1.5%;
    text-align: center;
    padding-top: 12px;
    background: linear-gradient(180deg, #2f2f2f, #3f3f3f);
    box-shadow: inset -8px 0 8px rgba(0, 0, 0, 0.15), inset 0 -8px 8px rgba(0, 0, 0, 0.25), 0 0 0 2px rgba(0, 0, 0, 0.75), 10px 20px 25px rgba(0, 0, 0, 0.4);
    user-select: none;
    cursor: pointer;
    font-weight: 100;
    border-radius: 10px;
}

.btn-tag-i {
    position: relative;
    font-size: 1.3em;
}

.btn:hover,
#btn-pn:hover,
#btn-pint:hover {
    background-color: #7c7c7ccb;
}

.btn:active {
    box-shadow: 1px 1px 5px #000 inset;
    padding: 11px 6px;
}

#btn-equals {
    background: #33a1fcf5;
}

#btn-equals:hover {
    background: #76b7ec;
}

#btn-clear {
    background: #ff0000f1;
}

#btn-clear:hover {
    background: #f75151;
}

#btn-plus,
#btn-mul,
#btn-div,
#btn-minus {
    background: #ffbb00e3;
}

#btn-plus:hover,
#btn-mul:hover,
#btn-div:hover,
#btn-minus:hover {
    background: #f3cf6d;
}

#btn-mul {
    padding-top: 14px;
    font: caption;
    font-style: normal;
}

#btn-clear-last-action,
#btn-back-space {
    background: #ca2691;
}

#btn-clear-last-action:hover,
#btn-back-space:hover {
    background: #cf62a9;
}

.btn-number,
#btn-pint,
#btn-pn {
    background: #474948;
}